<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="index_header d_flex">

    <h1>
      <a href="index.html">
        LOGO
      </a>
    </h1>
    <nav>
      <ul class="d_flex">
        <li><a href="#" class="d_block">旅遊情報</a></li>
        <li><a href="#" class="d_block">旅行地圖</a></li>
        <li><a href="#" class="d_block">拍旅行</a></li>
        <li><a href="#" class="d_block">旅行必備</a></li>
        <li><a href="#" >登入</a> / <a href="#">註冊</a> </li>
      </ul>
    </nav>
  </header>


  <%- contents %>

  <footer class="footer">
    <div class="container d_flex">
      <div class="footer_info d_flex">
        <a href="#" class="footer_logo">
          <img src="./assets/images/logo.png" alt="">
        </a>
        <div class="footer_menu">
          <nav>
            <ul class="d_flex">
              <li><a href="#" class="d_block">我要投稿</a></li>
              <li><a href="#" class="d_block">廣告刊登</a></li>
              <li><a href="#" class="d_block">駐站申請</a></li>
              <li><a href="#" class="d_block">輕旅行商城</a></li>
            </ul>
          </nav>
          <p>copyrightcopyrightcopyright</p>
        </div>

      </div>
      <div class="footer_sns">
        <ul class="d_flex">
          <li>
            <a href="#" class="d_block">
              <img src="./assets/images/footer/FB.png" alt="">
            </a>
          </li>
          <li>
            <a href="#" class="d_block">
              <img src="./assets/images/footer/instagram.png" alt="">
            </a>
          </li>
          <li>
            <a href="#" class="d_block">
              <img src="./assets/images/footer/telegram.png" alt="">
            </a>
          </li>
          <li>
            <a href="#" class="d_block">
              <img src="./assets/images/footer/mail.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>


  </footer>
  <script src="./assets/js/vendors.js"></script>
  
  <script src="./assets/js/jquery-3.5.1.min.js"></script>
  <script src="./assets/js/swiper.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>